.tags {
  display: flex;
  gap: var(--space-1-5);

  &__tag {
    background: var(--color-border);
    padding-inline: var(--space-3);
    padding-block: var(--space-1);
    border-radius: var(--border-radius-base);
    color: var(--color-text);
    font-size: var(--fs-xs);
    font-weight: var(--fw-regular);
    transition: var(--transition-all);
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: var(--space-1-5);
    @media (min-width: 48rem) {
      margin-right: var(--space-2);
    }
  }
}