.relate-post {
  position: relative;
  margin-bottom: var(--space-8);

  &__title {
    color: var(--color-text);
    font-family: var(--font-space-grotesk);
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    line-height: var(--lh-lg);
    margin-bottom: var(--space-8);
    border-bottom: 1px solid var(--color-border);
    span {
      border-bottom: 1px solid var(--color-text);
      display: inline-block;
      padding-bottom: 0.5rem;
      margin-bottom: -1px;
    }
    @media (min-width: 48rem) {
      font-size: var(--fs-lg);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    @media (min-width: 48rem) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--space-8);
    }
  }
}
