
.social-blog {
  &__content {
    display: flex;
    gap: var(--space-4);
  }

  &__button {
    border: none;
    background: none;
    cursor: pointer;
    opacity: .85;
    transition: all .2s ease;
    &:hover {
      opacity: 1;
    }
  }
}
